<div class="addData-container">
  <h2>Add candidates information</h2>
    <input required [(ngModel)] = "candidate.fname" id="fname" type="text" name="enter first name" class="add-fname" placeholder="first name"><br>
    <input required [(ngModel)] = "candidate.lname" id="lname" type="text" class="add-lname" placeholder="last name "><br>
    <input required [(ngModel)] = "candidate.phNumber" id="phNumber" type="tel" class="add-phone" placeholder="contact number"><br>
    <select required [(ngModel)] = "candidate.designation" id="designation" class="add-job">
      <option value="" hidden>Job-Role</option>
      <option value="fend">front-end</option>
      <option value="bend">back-end</option>
      <option value="fStack">Full stack</option>
    </select><br>

    <select required [(ngModel)] = "candidate.rating" class="add-rating" id="rating">
      <option value="" hidden>Rating</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select><br>

    <button type="submit" (click) = "submitForm()" class="add-submit" style="margin: 15px;">Add candidate</button><br>

  <h3 *ngIf = "candidateAddedSuccess">candidate added successfully</h3> <!--  only to be displayed when candidate is added  -->


</div><br>

<div class="displayData-container">
  <h3>candidate deleted/updated successfully</h3>
  <!--  only to be displayed when candidate data is modified successfully  -->
  <h1>added candidates</h1><br>
  <div style="display:flex;justify-content: space-evenly;" *ngFor = "let item of items" >
    <p > {{item.fname}} || {{item.lname}} || {{item.phNumber}} || {{item.designation}} || {{item.rating}} </p>
    <p style="cursor: pointer;color: blue;" (click)="editItem(item)"> Edit </p>
    <p style="cursor: pointer;color: red;" (click)="deleteItem(item)"> Delete </p>
  </div>



</div>
